/* For reference (Google Fonts):
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Merriweather', serif;
*/

body {
    color: #333;
    background-color: #eee;
}

/* ========================
   ANYTHING SIDEBAR RELATED
   ======================== */

#sidebar {
    text-align: center;
    box-shadow: 0.3em;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 180%;
    font-weight: 100;
    text-decoration: none;
    padding-top: 20px;
}

#subtitle {
    color: #999;
}

#site-title {
    /*background-color: red; initially for identification purposes*/
    margin: 30px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

#profile-photo {
    border-radius: 50%;
    width: 60%;
    padding-top: 20px;
}

#social-links {
    margin: 20px;
}

.social {
    background-color: white;
    color: #333;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #333;
}
.social:hover {
    background-color: #F26E3F;
    color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #F26E3F;
}

/* ======
   NAVBAR
   ====== */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 300px;
    font-family: 'Noto Sans', sans-serif;
}

.jm-nav-item {
    margin-right: 15px;
}

/* =========
   MAIN BODY
   ========= */
#content {
    background-color: white;
    padding: 20px;
}
    
main {
    margin-left: 300px; /* Same as the width of the sidenav */
    margin-top: 30px;
    padding: 10px;
}