/* For reference (Google Fonts):
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Merriweather', serif;
*/

html {
    scroll-behavior: smooth;
  }

body {
    color: #333;
    background-color: #eee;
}

/* ========================
   ANYTHING SIDEBAR RELATED
   ======================== */

#sidebar {
    text-align: center;
    box-shadow: 0.3em;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 180%;
    font-weight: bold;
    text-decoration: none;
    padding-top: 20px;
    color: #F26E3F;
}

#subtitle {
    color: #999;
    font-size: 1em;
}

#site-title {
    /*background-color: red; initially for identification purposes*/
    margin: 30px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

#profile-photo {
    border-radius: 50%;
    width: 40%;
    padding-top: 20px;
}

#social-links {
    margin: 20px;
}

.social {
    background-color: white;
    color: #333;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #333;
}
.social:hover {
    background-color: #F26E3F;
    color: #ffffff;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #F26E3F;
}

.contact-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

#contact {
    margin: 30px;
    padding-top: 10px;
}

#contact h2 {
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    margin: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

i {
    font-size: 1.6em;
    color: #F26E3F;
}

/* ======
   NAVBAR
   ====== */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 300px;
    font-family: 'Noto Sans', sans-serif;
}

.jm-nav-item {
    margin-right: 15px;
}

/* =========
   MAIN BODY
   ========= */
section {
    padding: 70px;
    background-color:white;
}
    
main {
    margin-left: 300px; /* Same as the width of the sidenav */
    margin-top: 45px;
    padding: 10px;
}

section#about {
    background-color: #F26E3F;
    color: white;
}

section#education    {
    background-color: #F26E3F;
    color: white;
}